body {
  background-color: #333;
}

.flex-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.flex-grid--center {
  -webkit-box-pack: center;
  -moz-box-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-center {
  text-align: center;
}

.coin-tracker {
  padding: 3.5rem 0.75rem;
}
.coin-tracker h1 {
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
}
.coin-tracker .title {
  position: relative;
}
.coin-tracker .btn {
  margin-left: 1rem;
}
.coin-tracker .btn button {
  display: inline-block;
  width: 40px;
  height: 25px;
  padding: 0.25rem;
  font-size: 0.75rem;
  color: #fff;
  text-indent: -9999px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: rgb(22, 224, 96) center center url("../images/refresh.png") no-repeat;
  background-size: 20px auto;
  transition: all ease-in 0.1s;
}
.coin-tracker .btn button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.coin-tracker .result {
  position: relative;
  height: 57vh;
  overflow-y: scroll;
  margin: 2rem auto 0;
  border: 3px solid #666;
}
.coin-tracker .result .coin-table {
  padding-left: 155px;
  overflow-x: scroll;
}
.coin-tracker .result table {
  margin: auto;
  font-size: 0.875rem;
  table-layout: fixed;
}
.coin-tracker .result table th {
  width: 110px;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 0.75rem;
  color: rgb(15, 184, 141);
  background-color: #333;
  border-bottom: 1px solid #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.coin-tracker .result table td {
  width: 110px;
  padding: 0.5rem;
  color: #eee;
  background-color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.coin-tracker .result table .headCol {
  position: absolute;
}
.coin-tracker .result table .headColth {
  z-index: 1;
}
.coin-tracker .result table .rankCol {
  left: 0;
  width: 45px;
}
.coin-tracker .result table .nameCol {
  left: 45px;
  width: 110px;
  border-right: 3px solid #666;
}
.coin-tracker .loader {
  display: block;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
  color: #eee;
}

#loginbtn {
  float: right;
  width: 80px;
  height: 40px;
  border: 1px solid #fff;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.submit {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.submit:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signinbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.login-form {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #595a5c;
  padding-top: 50px;
}

/* Modal Content/Box */
.content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
.signupbtn {
    width: 100%;
  }
}
/* Tablet */
@media (min-width: 768px) {
  .coin-tracker h1 {
    font-size: 2rem;
  }
  .coin-tracker .btn {
    padding-top: 6px;
  }
  .coin-tracker .result {
    width: 850px;
    height: auto;
    overflow-y: hidden;
  }
  .coin-tracker .result .coin-table {
    padding-left: 0;
    overflow-x: auto;
  }
  .coin-tracker .result table th {
    width: 110px;
    padding: 0.5rem;
    font-weight: 700;
    color: rgb(15, 184, 141);
    background-color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .coin-tracker .result table td {
    width: 110px;
    padding: 0.5rem;
    color: #eee;
    background-color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .coin-tracker .result table .headCol {
    position: static;
  }
}

/*# sourceMappingURL=App.css.map */
